* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "CALCI", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #333;
}

p {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 1em;
}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 1em;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family: "Nunito Sans", sans-serif;
    padding: 21px;
    background-color: #F5B461;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 90px;
    height: 90px;
    font-size: 35px;
    font-weight: 600;
    line-height: 47.74px;
}
button.y2{
    width: 180px;
    height: 90px;
}
button.x2 {
    width: 90px;
    height: 180px;
}

button:hover {
    background-color: #FADDB7;
    color: grey;

    border: 0;
    border-radius: 10px;
}

section {
    margin: 7.5% auto;
    width: max-content;
}

.app {
    display: flex;
    flex-direction: row-reverse;
    height: 670px;
}

.app .history-list-container {
    display: none;
    background-color: #FADDB7;
    width: 220px;
    height: 100%;
    border-left: 1px solid gray;
}

.app .history-list-container .history-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.app .history-list-container .history-list .history-item {
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding-block: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
     
}    
.app .history-list-container .history-list .history-item .history-process {
    color:rgba(241, 153, 39, 0.8);
    font-size: 25px;
    font-weight: 600;
    
}
.app .history-list-container .history-list .history-item .history-return {
    color:rgba(241, 153, 39, 1);
    font-size: 35px;
    font-weight: 800;

}

.app-screen-container {
    background-color: #FADDB7;
    width: 360px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.app-screen-container .screen {
    display: flex;
    flex-direction: column;
    height: 160px;
}

.app-screen-container .screen .header-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 23px;
}

.app-screen-container .screen .header-container h1 {
    font-family: Fredoka One;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #F19927;
}

.app-screen-container .screen .header-container .icon {
    cursor: pointer;
}

.app-screen-container .screen .value-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-inline: 28px;

}

.app-screen-container .screen .value-container #calValue {
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 88.92px;
    color: #F19927;
}

.app-screen-container .screen .value-container .history {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    color: rgba(241, 153, 39, 0.6);
    display: flex;
    gap:10px;
    align-items: center;
}

.app-screen-container .screen .value-container .history span {
    display: none;
}

.numblock {
    background-color: #F19927;
    width: 100%;
    height: 100%;
}

.numlock .numbers-wrapper {
    display: flex;
    flex-direction: row;
}

.numlock .transactions.row {
    display: flex;
    flex-direction: row;
}

.numlock .transactions.column {
    display: flex;
    flex-direction: column;
}

.numlock .numbers-wrapper .numbers {
    display: flex;
    flex-wrap: wrap;
}